body{
	background-image: url(590245_main.jpg);
	background-size: 100%;
}

a{
	color: #ff7538;
	font-size: 26px
}

#ert{
	color: #d9e36f;
	font-size: 38px
}

.pr{
	color: black;
	font-size: 20px
}

.st{
	font-size: 18px
}

.m{
	color: blue;
}

.w{
	color: red;
}

.mes{
	background-color: gray;
	border: 1px solid black;
	margin: 5px;
	padding: 10px;
}

.info{
	background-color: #4573D5;
}

.dan{
	background-color: #BF5030;
}

.pos{
	background-color: #22884F;
}

.mes: hover{
	border: 5px solid white;
	